.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  position: relative;
}

.profile__image::after {
  content: '';
  transition-duration: 300ms;
}

.profile__image:hover::after {
  content: '';
  filter: brightness(30%);
  inline-size: 120px;
  block-size: 120px;
  background-color: #000000CC;
  position: absolute;
}

.profile__image:hover::before {
  content: '';
  inline-size: 26px;
  block-size: 26px;
  position: absolute;
  inset: calc(50% - 13px);
  z-index: 1;
  background-image: url("../../../images/EditAvatar.svg");
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
